<script type="text/x-tmpl" id="tmpl-link">
    <h4>
        Course Analytics for {%=o.title%}
        {% if (o.no_students != '') { %}
            <span>({%=formatNumber(o.no_students)%} students)</span>
        {% } %}
    </h4>
    {% if (o.hash) { if (o.hash.length > 0) { %}
    <div>
        {% if (o.hash.length == 1) { 
            var h = Object.entries(o.hash[0])[0]; %}
        <a href="https://srvslscet001.uct.ac.za/optout/survey/{%=h[1]%}" 
            target="_blank" 
            style="font-weight: normal;">
            <i class="fas fa-external-link-alt"></i>
            Student Access Survey results <span style="color: #333;"> (includes orientation poll in CSV download)</span>
        </a>
        {% } else { %}
            <label>Student Access Survey results:</label>
            {% $.each(o.hash, function (k, v) { 
                var h = Object.entries(v)[0]; %}
                <a href="https://srvslscet001.uct.ac.za/optout/survey/{%=h[1]%}" 
                    target="_blank" 
                    style="font-weight: normal; padding-left: 10px;">
                    <i class="fas fa-external-link-alt"></i>
                    {%=h[0]%}
                </a>
            {% }); %}
        {% } %}
    </div>
    {% } } %}
</script>
<script type="text/x-tmpl" id="tmpl-graphs">
    {%  
        var cols = [],
            survey_arr = {
                title: 'Access Survey'
                ,no_students: o.no_students
                ,list: [{"t": "No data yet", "c": "empty", "v": o.no_students}]
            },
            activity_arr = {
                title: 'Orientation Activity'
                ,no_students: o.no_students
                ,list: [{"t": "No data yet", "c": "empty", "v": o.no_students}]
            },
            orientation_arr = {
                title: 'Orientation Poll'
                ,no_students: o.no_students
                ,list: [{"t": "No response", "c": "gray", "v": o.no_students}]
            },
            Week1 = {
                title: 'Week 1 Activity'
                ,no_students: o.no_students
                ,list: [{"t": "No data yet", "c": "empty", "v": o.no_students}]
            },
            Week2 = {
                title: 'Week 2 Activity'
                ,no_students: o.no_students
                ,list: [{"t": "No data yet", "c": "empty", "v": o.no_students}]
            }
            
        if (o.survey.length > 0) {
            survey_arr['list']= [
                {"t": "Good", "c": "green", "v": data.survey.filter((i) => i.val == "GREEN").length},
                {"t": "Uncertain", "c": "orange", "v": data.survey.filter((i) => i.val == "ORANGE").length}, 
                {"t": "Unlikely", "c": "red", "v": data.survey.filter((i) => i.val == "RED").length},
                {"t": "Unknown", "c": "gray", "v": o.no_students - o.survey.length}
            ];
        }
        
        if (o.orientation.length > 0) {
            orientation_arr['list']= [
                {"t": "Good", "c": "green", "v": o.orientation.filter((i) => i.val == "1").length},
                {"t": "Unsure", "c": "orange", "v": o.orientation.filter((i) => i.val == "0").length}, 
                {"t": "No response", "c": "gray", "v": o.no_students - o.orientation.length}
            ];
        }
        
        cols.push(survey_arr);
        cols.push(activity_arr);
        cols.push(orientation_arr);
        cols.push(Week1);
        cols.push(Week2);
        /* console.log(cols); */

        $.each(cols, function(i, el) { 
            el.i = i;
            include('tmpl-graph-column', el); 
        }); %}
</script>
<script type="text/x-tmpl" id="tmpl-graph-column">
    {% /* console.log(o); */ %}
    <div id="item-{%=o.i%}" class="item" data-title="{%=o.title%}">
        {%  $.each(o.list, function(e, el) { 
            el.x = o.no_students;
            include('tmpl-graph-line', el); 
        }); %}
    </div>
</script>
<script type="text/x-tmpl" id="tmpl-graph-line">
    {% /* console.log(o); */ %}
    {% var p = o.x == 0 ? 1 : (o.v / o.x) * 100; %}
    <div class="item_{%=o.c%} tt" style="flex: {%=p%};" 
        title="{% if(o.c != 'empty') { %}{%=(o.t != ''? o.t+": " : "")%}{%=Math.round(p, 2)%} % ({%=o.v%})"{% } else { %}{%=o.t%}{% } %}""></div>
</script>
<script type="text/x-tmpl" id="tmpl-last-saved">
    <div>
        <div class="green">Likely to be able to participate effectively in remote learning</div>
        <div class="orange">Substantial uncertainty about ability to participate effectively in remote learning</div>
        <div class="red">Unlikely to be able to participate effectively in remote learning</div>
        <div class="gray">Did not participate in the survey or poll, no data for this student</div>
    </div>
    <div>
        <div>
            <i class="far fa-clock"></i>&nbsp;
            {% if (o.updated != '') { %}Last updated: <span>{%=moment(o.updated).calendar()%}</span>{% } else { %}Last updated: <span>Never</span> {% } %}
        </div>        
        <div>
            <i class="fas fa-users"></i>&nbsp;
            Students: <span>{%=o.students%}</span>
        </div>     
    </div>
</script>
<script type="text/x-tmpl" id="tmpl-state">
<div id="state" class="fa-3x">
    <div>
        {% switch(o.state) { 
            case 0: %}<img src="{%=o.svg%}" width="40" alt=""> Loading course information ... {% break; 
            case 1: %}<a href="#">The course information is empty <small>(click to retry)</small>.</a>{% break; 
            case 2: %}<span class="error">Course information could not be loaded.</span>{% break; 
        } %}
    </div>
</div>
</script>
